<% if notice || alert %>
<div class="alert alert-dismissible alert-<%=notice ? 'success' : 'danger'%> col-lg-12">
 <button type="button" class="close" data-dismiss="alert">×</button>
 <%= notice || alert %>
</div>
<% end %>

<div class="container">
  <%= render partial: "statements/search_form" %>
</div>
<div class="container">
  <div class="row">
    <div class="clearfix"></div>
      <div class="col-lg-12 frm-padmar2" style="margin-top: 20px">
        <div class="no-result-found alert alert-danger col-lg-12" style="display: none;">Sorry, We didn't find any result.
          <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
      </div>
    </div>
  <div>
</div>
<div class="container" id="searchResult">
  <div class="row">
    <div class="clearfix"></div>
    <div class="col-lg-12 frm-padmar2" style="margin-top: 20px">
      <% if @videos.blank? %>
        <div class="warning">Sorry, We didn't find any result.</div>
      <% else %>
        <div id="video-answers" class="row">
          <% @videos.each do |statement| %>
            <% if statement.candidate.present? %>
              <% if params[:t].present? %>
                <%= render partial: 'search_result', locals: {video: statement} %>
              <% else %>
                <% if search_filter(statement) %>
                  <%= render partial: 'search_result', locals: {video: statement} %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if params[:q].present? || params[:e].present? || params[:v].present? || params[:d].present? %>
  <script type="text/javascript">
    $('.tag-search-block').removeClass('search-active');
    $('.tag-search-block').addClass('search-inactive');
    $('.advance-search-block').addClass('search-active');
    $("#advance-search-btn").addClass('acor-tab-btn');
    $("#advance-search-btn").removeClass('acor-tab-btn2');
    $("#tag-search-btn").removeClass("acor-tab-btn");
    $("#tag-search-btn").addClass("acor-tab-btn2");
  </script>
<% end %>
<script>
  if($(".search_row").length==0){
    $('#searchResult').hide();
    $('.no-result-found').show();
  }
  $('#event-day-date').datetimepicker({
    format: 'MM/DD/YYYY'
  });
  $(document).ready(function(){
    $("#advance-search-btn").on('click',function(e){
      e.preventDefault();
      $('.tag-search-block').removeClass('search-active');
      $('.tag-search-block').addClass('search-inactive');
      $('.advance-search-block').addClass('search-active');
      $("#advance-search-btn").addClass('acor-tab-btn');
      $("#advance-search-btn").removeClass('acor-tab-btn2');
      $("#tag-search-btn").removeClass("acor-tab-btn");
      $("#tag-search-btn").addClass("acor-tab-btn2");
      $('.no-result-found').hide();
    });
    $("#tag-search-btn").on('click',function(e){
      e.preventDefault();
      $("#tag-search-btn").addClass("acor-tab-btn");
      $("#tag-search-btn").removeClass("acor-tab-btn2");
      $("#advance-search-btn").addClass('acor-tab-btn2');
      $("#advance-search-btn").removeClass("acor-tab-btn");
      $('.tag-search-block').addClass('search-active');
      $('.advance-search-block').addClass('search-inactive');
      $('.advance-search-block').removeClass('search-active');
      $('.no-result-found').hide();
    });
  });
</script>