<% if notice || alert %>
<div class="alert alert-dismissible alert-<%=notice ? 'success' : 'danger'%> col-lg-12">
 <button type="button" class="close" data-dismiss="alert">×</button>
 <%= notice || alert %>
</div>
<% end %>

<div class="container">
  <%= render partial: "statements/search_form" %>
</div>
<div class="container">
  <div class="row">
    <div class="clearfix"></div>
      <div class="col-lg-12 frm-padmar2" style="margin-top: 20px">
        <div class="no-result-found alert alert-danger col-lg-12" style="display: none;">Sorry, We didn't find any result.
          <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
      </div>
    </div>
  <div>
</div>
<div class="container" id="searchResult">
  <div class="row">
    <div class="clearfix"></div>
    <div class="col-lg-12 frm-padmar2" style="margin-top: 20px">
      <% if @statements.blank? %>
        <div class="warning">Sorry, We didn't find any result.</div>
      <% else %>
        <div class="table-responsive">
          <table class="table table-striped table-hover search-table">
            <thead>
              <tr>
                <th>Candidate(s)</th>
                <th>Speaker(s)</th>
                <th>Event Name</th>
                <th>Location</th>
                <th>Event Date</th>
                <!-- <th>Public</th> -->
              </tr>
            </thead>
            <tbody>
              <% @statements.each do |statement| %>
                <% if statement.candidate.present? %>
                  <% if params[:t].present? %>
                    <%= render partial: 'search_result', locals: {statement: statement} %>
                  <% else %>
                    <% if search_filter(statement) %>
                      <%= render partial: 'search_result', locals: {statement: statement} %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  if($(".search_row").length==0){
    $('#searchResult').hide();
    $('.no-result-found').show();
  }
  $('#event-day-date').datetimepicker({
    format: 'MM/DD/YYYY'
  });
  $(document).ready(function(){
    $("#advance-search-btn").on('click',function(e){
      e.preventDefault();
      $('.tag-search-block').removeClass('search-active');
      $('.tag-search-block').addClass('search-inactive');
      $('.advance-search-block').addClass('search-active');
      $("#advance-search-btn").addClass('acor-tab-btn');
      $("#advance-search-btn").removeClass('acor-tab-btn2');
      $("#tag-search-btn").removeClass("acor-tab-btn");
      $("#tag-search-btn").addClass("acor-tab-btn2");
    });
    $("#tag-search-btn").on('click',function(e){
      e.preventDefault();
      $("#tag-search-btn").addClass("acor-tab-btn");
      $("#tag-search-btn").removeClass("acor-tab-btn2");
      $("#advance-search-btn").addClass('acor-tab-btn2');
      $("#advance-search-btn").removeClass("acor-tab-btn");
      $('.tag-search-block').addClass('search-active');
      $('.advance-search-block').addClass('search-inactive');
      $('.advance-search-block').removeClass('search-active');
    });
  });
</script>