<% if notice %>
  <div class="alert alert-dismissible alert-success col-lg-12">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end %>
<% if params[:search].eql? "videos" %>
  <% if @videos.size > 0 %>
    <div class="col-lg-12">
      <h1 class="col-lg-12">Answers from <%= @candidate.person_name %></h1>
      <%= render 'statements/videos' %>
    </div>
  <% end %>
<% else %>
  <div class="container-fluid" id="content">
    <div class="well bs-component col-lg-12">
      <div class="col-lg-8">
        <div class="candbgq9">
          <div class="col-lg-3">
            <%= image_tag @candidate.person_image_url, { width: '160px' } %>
          </div>
          <div class="col-lg-9" >
            <h1><%= @candidate.person_name %></h1>
            <h4><%= @candidate.person_title %></h4>
            <h4><%= @candidate.party %></h4>
            <h4><%= @candidate.official_url ? link_to('Official Web Site', @candidate.official_url) : '' %>
            </h4>
          </div>
        </div>
        <div class="col-lg-12 candbgq2-tb">
          <h3></h3>
          <div class="table-responsive">
            <div class="candbgq11-tb">
              <table class="table table-striped table-responsive table-bordered">
                <% if @candidate.scaling.present? %>
                  <tbody>
                    <tr>
                      <% @candidate.scaling.keys.each do |issue| %>
                        <% if @candidate.scaling[issue].present? %>
                          <td class="candbgq3"><%= issue %></td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <% @candidate.scaling.select{|issue, scale| scale}.values.each do |scale| %>
                        <% if scale.present? %>
                        <td align="center" valign="middle" class="candbgq10">
                          <div class="ciclq_green"></div>
                          <span> <%= scale %></span>
                        </td>
                        <% end %>
                      <% end %>
                    </tr>
                  </tbody>
              <% end %>
              </table>
            </div>
          </div>
          <p><%= raw(sanitize(@candidate.description, tags: SUPPORTED_HTML_TAGS)) %></p>
          <h3>See More Answers From <span class="candidate-name"><%= @candidate.person_name %></span></h3>
        </div>
        <div class="col-lg-2 candbgq5">Search By: </div>
        <%= form_tag("/search_candidate", :method=>"get") do %>
          <div class="col-lg-2 candy1">Candidate Name<br>
            <%=text_field_tag 'candidate_name', @candidate.person_name, class: "form-control candbgq6", readonly: "" %>
          </div>
          <div class="col-lg-2 candy1">Topic <br>
            <%= select_tag(:candidate_issue, options_for_select(ISSUE_TAGS), class: "form-control candbgq7", :include_blank => 'All') %> 
          </div>
          <div class="col-lg-2 candy1">State <br>
            <input name="state" type="text" placeholder="All" class="form-control candbgq7"> 
          </div>
          <div class="col-lg-2 candy1">Date <br>
            <input name="date" type="text" class="datepicker form-control candbgq7" placeholder="All" id="date"/>
          </div>
          <%= hidden_field_tag "id", @candidate.id %>
          <div class="col-lg-2 candbgq5">
            <input type="submit" class="btn btn-info candbgq8" value="Go">
          </div>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= render 'events', :panel_title => 'Upcoming Events', :events => @candidate.upcoming_events %>
        <%= render 'most_recent_videos', :videos => @videos %>
        <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Discussion Board</h3>
        </div>
        <div class="panel-body" id="comment-block" candidate-id="<%=@candidate.id%>">
          <ul class="list-group">
            <% @candidate.comments.approved.each do |comment| %>
              <li style="border: 0" class="list-group-item" >
                <span class="comment-title"><%= comment.title %></span>:
                <%= comment.message %>
              </li>
            <% end %>
          </ul>
          <p class="thanks-for-comment"></p>
          <span>Write your comment.</span>
          <%= form_for @candidate.comments.new, method: "POST"  do |f| %>
            <%= f.text_field :title, class: "form-control margin_bottom_10", placeholder: 'Enter title' %>
            <span class="search-error-msg comment_title" style="display:none;">Please enter title.</span>
            <%= f.text_area :message, class: "form-control margin_bottom_10", placeholder: 'Enter message' %>
            <span class="search-error-msg comment_message" style="display:none;">Please enter message.</span>
            <div class="clearfix"></div>
            <input type="button" id="create_comment" value="Submit" name="commit" class="btn btn-info">
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#date').datetimepicker({
    format: 'DD/MM/YYYY'
  });

  $(document).ready(function(){
    var candidate_id = $("#comment-block").attr("candidate-id")
    $("#new_comment").find("input[type=text], textarea").val("");
    $("#create_comment").on("click", function(e){
      var title = $("#comment_title");
      var message =  $("#comment_message");
      var title_error = $(".comment_title");
      var message_error = $(".comment_message");
      if(title.val().length <= 0){
        title_error.show();
        message_error.hide();
        e.preventDefault();
      }else if (message.val().length <= 0){
        title_error.hide();
        message_error.show();
        e.preventDefault();
      }
      else{
        $.ajax({
          url: "/comments",
          type: 'POST',
          data: {comment:{title: title.val(), message: message.val()} , candidate_id: candidate_id},
          success: function(response){
            $(".thanks-for-comment").text("Thank you! for your comment.")
            $("#new_comment").find("input[type=text], textarea").val("");
            title_error.hide();
            message_error.hide();
          }
        });
      }
    });
  });
</script>

